/* 
 * iocservicesmonitor.css
 * -----------------------------------------------------------------------------
 * Utility to monitor systemd services running IOCs as micro-services
 * -----------------------------------------------------------------------------
 * ESS ERIC - ICS HWI group
 * -----------------------------------------------------------------------------
 * author: douglas.bezerra.beniz@esss.se
 * -----------------------------------------------------------------------------
 */

a {
  color: rgba(0, 0, 80, 1);
}

a:hover {
  color: rgba(0, 0, 80, 0.8);
  text-decoration: none;
}

.table {
  margin-bottom: 0
}

.table > tbody > tr > td {
  vertical-align: middle;
}
